.baseTodoCard {
    border: none;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.1);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
}

#submitTaskButton {
    margin-top: 10px;
    width: 200px;
    margin-left: auto;
}

.typeCheckBox {
    margin-left: auto;
    margin-top: 10px;
}