#appTitle {
    text-align: center;
}

.homeCard {
    border: none;
    margin: 10px 10px;
    padding: 20px;
    text-align: center;
}

.featureCard {
    border: none;
    border-radius: 20px;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#featureCardImage {
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    max-width: 400px;
}

#featureBody >p {
    font-size: 18px;
}