.listCard {
    border: 1px solid purple;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 30px auto;
    max-width: 90%;
    padding: 20px;
}

#taskListItem {
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 5px 5px 20px 0 rgba(160, 63, 240, 0.548);
}

#taskTypeBadge-Public {
    background-color: green;
    color: white;
    float: right;
    font-weight: 400;
}

#taskTypeBadge-Private {
    background-color: blue;
    color: white;
    float: right;
    font-weight: 400;
}

#deleteButton {
    cursor: pointer;
    float: right;
    margin-left: 10px;
}

#shareButton {
    font-size: 13px;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: mediumspringgreen;
    cursor: pointer;
    float: right;
}

.commentSectionCollapse {
    border-radius: 20%;
}

/*** Task Page ***/

.taskPageCard {
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px;
}

#addCommentButton {
    margin: 10px 1px;
    max-width: 200px;
}

.eachCommentDiv {
    border-bottom: 1px solid blue;
    padding: 10px;
}